#header {
    text-align: center;
    position: relative;
    top: 2.5rem;
}

#main-content {
    position: relative;
    top: 3rem;
}

.main {
    display: grid;
    gap: 0.5rem;
    width: 100%;
}

#link-wrapper {
    display: flex;
}

.flex-display {
    flex: 1;
    background: #eee;
    border-color: #ddd;
    border-style: dashed;
    text-align: center;
    overflow: auto;
    position: relative;
    top: 5rem;
    margin: 3rem;
}

.tool-name {
    display: block;
    padding: 2rem;
    font-size: 1.5rem;
}