#header {
    text-align: center;
    position: relative;
    top: 2.5rem;
}

body{
    font-family: -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}

#main-content {
    position: relative;
    top: 4rem;
    overflow: auto;
}

.main {
    display: grid;
    gap: 0.5rem;
    width: 100%;
}

#upload-header-wrapper {
    display: flex;
    text-align: left;
}

#upload-header1 {
    flex: 1;
    margin-right: 1rem;
}
#upload-header2 {
    flex: 1;
    margin-left: 1rem;
    margin-right: 1rem;
}
#upload-header3 {
    flex: 1;
    margin-left: 1rem;
}

#upload-wrapper {
    display: flex;
    position: relative;
    top: -1rem;
}

#upload-input {
    display: none;
}

#upload-form {
    flex: 1;
    margin-right: 1rem;
    display: grid;
    background: #eee;
    border-color: #ddd;
    border-style: dashed;
    text-align: center;
    width: 100%;
}

#upload-file-label {
    display: block;
    padding: 1rem;
}

#download-filename {
    flex: 1;
    margin-left: 1rem;
    margin-right: 1rem;
    background: #eee;
    border-color: #ddd;
    border-style: dashed;
    text-align: center;
    width: 100%;
}

#upload-excel {
    display: none;
}

#upload-excel-label {
    display: block;
    padding: 1rem;
}

#upload-excel-form {
    flex: 1;
    margin-left: 1rem;
    display: grid;
    background: #eee;
    border-color: #ddd;
    border-style: dashed;
    text-align: center;
    width: 100%;
}

#download-hint {
    padding: 0 0 0 0;
}

.button-wrapper {
    text-align: center;
}

.option {
    padding-bottom: 0.2rem;
    border-bottom: 0.15rem solid;
}

#convert-option {
    width: 100%;
    position: relative;
    top: -1rem;
}

.button {
    height: 2rem;
    width: auto;
}

#convert-table-button[disabled] {
    color: grey;
    opacity: 0.5;
}

#convert-excel-button[disbaled] {
    color: grey;
    opacity: 0.5;
}

#collapse-expand-tag {
    visibility: hidden;
}

#hide-show-unchanged {
    visibility: hidden;
}


#table-wrapper {
    display: flex;
    width: 100%
}

table {
    width: auto;
}

.table-section {
    position: relative;
    top: 4.5rem;
}

#diff-result {
    flex: 2;
    margin-right: 1rem;
}

#custom-dict {
    flex: 1;
    margin-left: 1rem;
}

.display-table {
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}

.display-table th {
    border: 2px solid black;
    min-width: 2.4rem;
    max-width: 35rem;
    word-wrap: break-word;
    padding: 0.5rem;
    background-color: aquamarine;
}

.display-table td {
    border: 2px solid black;
    min-width: 2.4rem;
    max-width: 35rem;
    word-wrap: break-word;
    padding: 0.5rem;
}

.display-table td:nth-of-type(1) {
    text-align: center;
}

.delete1 {
    color: blue;
}

.insert1 {
    color: red;
    display: none;
}

.delete2 {
    color: blue;
    display: none;
}

.insert2 {
    color: red;
}

.tag {
    color: grey;
}

.ph {
    color: grey;
}