#header {
    text-align: center;
    position: relative;
    top: 2.5rem;
}

#main-content {
    position: relative;
    top: 4rem;
    overflow: auto;
}

.main {
    display: grid;
    gap: 0.5rem;
    width: 100%;
}

#upload-header-wrapper {
    display: flex;
    text-align: left;
}

#upload-header1 {
    flex: 1;
    margin-right: 1rem;
}
#upload-header2 {
    flex: 1;
    margin-left: 1rem;
}

#upload-wrapper {
    display: flex;
    position: relative;
    top: -1rem;
}

#upload-input {
    display: none;
}

#upload-form {
    flex: 1;
    margin-right: 1rem;
    display: grid;
    background: #eee;
    border-color: #ddd;
    border-style: dashed;
    text-align: center;
    width: 100%;
}

#upload-filename {
    display: block;
    padding: 1rem;
}

#download-filename {
    flex: 1;
    margin-left: 1rem;
    background: #eee;
    border-color: #ddd;
    border-style: dashed;
    text-align: center;
    width: 100%;
}

#download-hint {
    padding: 0 0 0 0;
}

.button-wrapper {
    text-align: center;
}

.option {
    padding-bottom: 0.2rem;
    border-bottom: 0.15rem solid;
}

#convert-option {
    width: 100%;
    position: relative;
    top: -1rem;
}

.button {
    height: 2rem;
    width: auto;
}

#collapse-expand-tag {
    visibility: hidden;
}

#hide-show-unchanged {
    visibility: hidden;
}

#diff-result {
    position: relative;
    top: 4.5rem;
}

#diff-result-table {
    border-collapse: collapse;
}

#diff-result-table td {
    border: 2px solid black;
    min-width: 2.4rem;
    max-width: 400px;
    word-wrap: break-word;
    padding: 0.5rem;
}

#diff-result-table td:nth-of-type(1) {
    text-align: center;
}

.delete1 {
    color: blue;
}

.insert1 {
    color: red;
    display: none;
}

.delete2 {
    color: blue;
    display: none;
}

.insert2 {
    color: red;
}

.tag {
    color: grey;
}

.ph {
    color: grey;
}