#header {
    text-align: center;
}

.main {
    display: grid;
    border: 0.1em solid white;
    gap: 0.2em;
    padding-bottom: 0.4em;
}

#upload-input {
    display: none;
}

#upload {
    display: grid;
    background: #eee;
    border-color: #ddd;
    border-style: dashed;
    height: 100%;
    overflow-y: auto;
    text-align: center;
}

#upload-filename {
    padding: 2em;
}

.button-wrapper {
    text-align: center;
}

.option {
    padding-bottom: 0.2em;
    border-bottom: 0.15em solid;
}

#download-filename {
    background: #eee;
    border-color: #ddd;
    border-style: dashed;
    height: 100%;
    text-align: left;
}

#download-hint {
    padding: -1em,-1em,-1em,-1em;
}

.button {
    height: 2rem;
    width: auto;
}

#collapse-expand-tag {
    visibility: hidden;
}

#hide-show-unchanged {
    visibility: hidden;
}

#diff-result-table tr, #diff-result-table td {
    border: 0.1em solid;
    min-width: 2.5em;
    max-width: 30em;
    word-wrap: break-word;
}

.delete1 {
    color: blue;
}

.insert1 {
    color: red;
    display: none;
}

.delete2 {
    color: blue;
    display: none;
}

.insert2 {
    color: red;
}

.tag {
    color: grey;
}

.ph {
    color: grey;
}

#credit {
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    
}

