#header {
  text-align: center;
  position: relative;
  top: 2.5rem;
}

body {
  font-family: -apple-system, "Noto Sans", "Helvetica Neue", Helvetica,
    "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB",
    "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN",
    "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti",
    SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}

#main-content {
  position: relative;
  top: 4rem;
}

.main {
  display: grid;
  gap: 0.5rem;
  width: 100%;
}

#filename-header-wrapper {
  display: flex;
  text-align: center;
}

#filename-header1,
#filename-header2 {
  flex: 1;
  height: auto;
  margin: 0.5rem auto;
}

#upload-input1,
#upload-input2 {
  display: none;
}

#upload-wrapper {
  display: flex;
}

#upload1,
#upload2 {
  flex: 1;
  background: #eee;
  border-color: #ddd;
  border-style: dashed;
  text-align: center;
  overflow: auto;
  margin: 0.5rem;
}

#upload-filename1,
#upload-filename2 {
  display: block;
  padding: 2rem;
}

.button-wrapper {
  text-align: center;
}

.button {
  height: 2rem;
  width: auto;
}

#collapse-expand-tag {
  visibility: hidden;
}

#hide-show-unchanged {
  visibility: hidden;
}

#hide-show-title {
  visibility: hidden;
}

#diff-result {
  position: relative;
  top: 4.5rem;
}

#diff-result-table {
  border-collapse: collapse;
}

#diff-result-table th {
  border: 1px solid black;
  min-width: 2.4rem;
  max-width: 30rem;
  word-wrap: break-word;
  padding: 0.5rem;
  background-color: aquamarine;
}

#diff-result-table td {
  border: 1px solid black;
}

#diff-result-table td:nth-of-type(1) {
  overflow: hidden;
}

#diff-result-table td:nth-of-type(2) {
  text-align: center;
}

#diff-result-table td:nth-of-type(3),
td:nth-of-type(4),
td:nth-of-type(5) {
  min-width: 2.4rem;
  max-width: 30rem;
  padding: 0.5rem;
  word-wrap: break-word;
}

#diff-toggle-area {
  text-align: center;
}

.delete1 {
  text-decoration: line-through;
  color: blue;
}

.insert1 {
  color: red;
  display: none;
}

.delete2 {
  color: blue;
  display: none;
}

.insert2 {
  text-decoration: underline;
  color: red;
}

.tag {
  color: grey;
}

.ph {
  color: grey;
}
