@import "{{ site.theme}}";

#header {
    text-align: center;
}

#uploadFile {
    width: 99%;
}

.center-button-wrapper {
    display: flex;
    justify-content: center;
}

.button {
    height: 35px;
    width: 100px;   
}

.main-tabs {
    display: grid;
    border: 2px solid #dddddd;
    gap: 5px;
    padding-bottom: 5px;
}

.options {
    border-bottom: 2px solid;
    padding-bottom: 2px;
}

#main-tabs-result {
    display: flex;
}

#editor1 {
    flex: 1;
}

#editor2 {
    flex: 1;
}

#fileName {
    width: 99%;
    border: 0px;
    border-bottom: 2px solid;
}

/* #main-tabs-comparison {
    display: flex;
    border: 2px solid #dddddd;
    gap: 10px; 
}

#editor3 {
    flex: 1;
}

#editor4 {
    flex: 1;
} */



#credit {
    text-align: center;
}

/* #result-table {
    border: 1px solid;
} */

#diff-result-table tr, #diff-result-table td {
    border: 1px solid;
    min-width: 40px;
    max-width: 300px;
    word-wrap: break-word;
}

.deletion {
    color: blue;
}

.insertion {
    color: red;
}
